@media (min-width: 768px) {
  .hero {
    min-height: unset;
  }
  .hero__title {
    font-size: 40px;
  }
}
@media (min-width: 1024px) {
  .hero {
    min-height: 500px;
  }
  .hero__title {
    font-size: 45px;
  }
}
