@media (min-width: 576px) {
  .choose__cards {
    grid-template-columns: repeat(2, 1fr);
  }
  .vers__list {
    flex-direction: row;
  }
  .vers__listItem {
    width: calc(50% - 0.5rem);
  }
}
@media (min-width: 768px) {
  .hero__description {
    font-size: 15px;
  }
  .hero__title {
    font-size: 26px;
  }
  .hero__breadcrumbItem a,
  .hero__breadcrumbItem {
    font-size: 14px;
  }
  .hero {
    justify-content: flex-end;
  }
  .hero .container-1170px {
    padding-bottom: unset;
  }
  .hero__imgContainer {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .solutions__cards {
    grid-template-columns: repeat(2, 1fr);
    gap: 2rem;
    align-items: center;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;
  }
  .solutions__card {
    width: calc(50% - 1rem);
  }
  .choose__title {
    font-weight: 500;
    float: left;
    padding-left: 10px;
    width: calc(100% - 75px);
  }
  .choose__cards {
    grid-template-columns: repeat(3, 1fr);
  }
  .vers__listItem {
    width: calc(25% - 0.75rem);
  }
}
@media (min-width: 992px) {
  .hero .container-1170px {
    flex-direction: row;
  }
  .hero__content {
    width: calc((6 / 12) * 100%);
    align-self: flex-start;
    padding-bottom: 8rem;
  }
  .hero__title {
    font-size: 32px;
  }
  .hero__imgContainer {
    width: calc((6 / 12) * 100%);
  }
  .hero__description {
    font-size: 20px;
  }
  .spear__content {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 1fr 2rem 1fr;
    grid-template-columns: 1fr 1.5fr;
    gap: 2rem;
    align-items: center;
  }
  .spear__imgBox {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    order: -1;
  }
  .solutions__content {
    position: absolute;
    right: 0;
    top: 50%;
    transform: translateY(calc(-50% + 2rem));
  }
  .solutions__img {
    max-width: 280px;
  }
}
@media (min-width: 1024px) {
  .hero {
    min-height: 750px;
  }
}
@media (min-width: 1200px) {
}
@media (min-width: 1441px) {
  .hero__title {
    font-size: 40px;
  }
}
@media (min-width: 1601px) {
  .hero_title {
    font-size: 45px;
  }
}
@media (max-width: 469px) {
  .hero {
    min-height: 700px;
  }
  .hero__link {
    width: 100%;
    text-align: center;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    font-size: 13px;
  }
}
