.hero::before {
  background-image: unset;
  background-color: rgba(32, 33, 34, 0.9);
}
.hero .container-1170px {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  gap: 2rem;
  padding-block: 3rem 6rem;
}
.hero__formContainer {
  position: relative;
  z-index: 2;
  padding: 35px 25px;
  border: 1px solid var(--primaryColor);
  border-radius: 5px;
  width: 100%;
}
.hero__formContainer form {
  display: flex;
  flex-direction: column;
  width: 100%;
  gap: 1rem;
}
.AR-formInput {
  width: 100%;
  padding: 1rem;
  border-radius: 5px;
  border: 1px solid rgba(255, 255, 255, 0.2);
  outline: none;
  background-color: transparent;
  color: var(--light);
}
.AR-textarea {
  height: 100px;
}
.AR-submitButton {
  background-color: var(--primaryColor);
  color: var(--light);
  padding: 0.8rem 1.5rem;
  border-radius: 5px;
  border: none;
  outline: none;
  cursor: pointer;
}
.hero__title {
  font-size: 24px;
}
.hero__link {
  background-color: var(--primaryColor);
  border: 1px solid transparent;
  -webkit-transition: border-color 0.3s ease-in-out,
    background-color 0.3s ease-in-out;
  -moz-transition: border-color 0.3s ease-in-out,
    background-color 0.3s ease-in-out;
  -o-transition: border-color 0.3s ease-in-out,
    background-color 0.3s ease-in-out;
  transition: border-color 0.3s ease-in-out, background-color 0.3s ease-in-out;
  text-transform: capitalize;
}
.hero__link:hover {
  background-color: transparent;
  border-color: var(--light);
}
.hero__breadcrumb {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  font-size: 10px;
  position: absolute;
  margin-inline: auto;
  z-index: 2;
  width: 100%;
  max-width: 1170px;
  bottom: 70px;
  left: 50%;
  transform: translateX(-50%);
}
@media (max-width: 1200px) {
  .hero__breadcrumb {
    padding-inline: 1rem;
  }
}
.hero__breadcrumbItem a {
  color: var(--light);
  font-size: 10px;
  -webkit-transition: color 0.3s ease-in-out;
  -moz-transition: color 0.3s ease-in-out;
  -o-transition: color 0.3s ease-in-out;
  transition: color 0.3s ease-in-out;
}
.hero__breadcrumbItem a:hover {
  color: var(--primaryColor);
}
.hero__breadcrumbItem {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.5rem;
  color: var(--primaryColor);
}
.hero__breadcrumbSlash {
  color: var(--light);
}
@media (min-width: 768px) {
  .hero__description {
    font-size: 15px;
  }
  .hero__title {
    font-size: 26px;
  }
  .hero__breadcrumbItem a,
  .hero__breadcrumbItem {
    font-size: 14px;
  }
}
/* ====== AR-Company =========  */
.AR-Company {
  padding-top: 6.5rem;
  padding-bottom: 3rem;
  padding-inline: 1rem;
  margin-top: -55px;
  isolation: isolate;
  background-color: var(--light);
}
.AR-Company__container {
  position: relative;
}
.AR-Company__content {
  max-width: 1140px;
  margin-inline: auto;
}
.AR-Company__title {
  position: relative;
  text-align: unset;
  color: #6c757d;
}
.AR-Company__title::before {
  content: "";
  background-color: var(--primaryColor);
  width: 150px;
  height: 5px;
  border-radius: 10px;
  bottom: 0;
  left: 0;
  position: absolute;
}
.AR-Company__titleTag {
  color: #6c757d;
  font-weight: 600;
  margin-bottom: 0;
}
@media (min-width: 992px) {
  .AR-Company__titleTag {
    font-size: 26px;
  }
}
.AR-Company__contentInfo {
  padding-block: 1.5rem;
  order: 1;
}
.AR-Company__description p {
  margin-bottom: 1.5rem;
  text-align: left;
}
.AR-Company__talkTo {
  background-color: var(--primaryColor);
  color: var(--light);
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -webkit-tap-highlight-color: transparent;
  -webkit-transition: background-color 0.3s ease-out, box-shadow 0.3s ease-out;
  -moz-transition: background-color 0.3s ease-out, box-shadow 0.3s ease-out;
  -ms-transition: background-color 0.3s ease-out, box-shadow 0.3s ease-out;
  -o-transition: background-color 0.3s ease-out, box-shadow 0.3s ease-out;
  transition: background-color 0.3s ease-out, box-shadow 0.3s ease-out;
  box-shadow: 0 3px 10px 0 rgba(236, 115, 35, 0.2);
  padding: 15px 25px;
  border-radius: 5px;
  line-height: 1;
  border: none;
}
.AR-Company__talkTo:focus,
.AR-Company__talkTo:hover {
  background: var(--lightDark);
  box-shadow: 0 5px 11px 0 rgba(0, 0, 0, 0.18), 0 4px 15px 0 rgba(0, 0, 0, 0.15);
}
.AR-Company__imgBox {
  text-align: center;
  margin-bottom: 3rem;
  border-radius: 5px;
  position: relative;
  height: 100%;
  width: fit-content;
  margin-inline: auto;
}
.AR-Company__img {
  border-radius: 5px;
  height: 100%;
  width: 100%;
}

/* ==== REALITY VISION FOR YOUR BUSINESS ===== */
.rvb {
  background-color: var(--lighterGray);
  padding-block: 3rem;
}
.rvb__cards {
  padding: 1rem;
  display: grid;
  align-items: start;
  grid-template-columns: 1fr;
  margin-top: 80px;
  column-gap: 2rem;
  row-gap: 60px;
}
.rvb__card {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: var(--light);
  gap: 1rem;
  text-align: center;
  padding: 2rem 1rem;
  position: relative;
  border-bottom: 5px solid #ecedee;
  border-radius: 10px;
  -webkit-box-shadow: 0 5px 10px 0 rgba(72, 73, 121, 0.15);
  -moz-box-shadow: 0 5px 10px 0 rgba(72, 73, 121, 0.15);
  -o-box-shadow: 0 5px 10px 0 rgba(72, 73, 121, 0.15);
  box-shadow: 0 5px 10px 0 rgba(72, 73, 121, 0.15);
  -webkit-transition: box-shadow 0.3s ease-in-out,
    border-bottom-color 0.3s ease-in-out;
  -moz-transition: box-shadow 0.3s ease-in-out,
    border-bottom-color 0.3s ease-in-out;
  -o-transition: box-shadow 0.3s ease-in-out,
    border-bottom-color 0.3s ease-in-out;
  transition: box-shadow 0.3s ease-in-out, border-bottom-color 0.3s ease-in-out;
  height: 100%;
}
.rvb__card:hover {
  -webkit-box-shadow: 0 3px 10px 0 rgba(236, 115, 35, 0.15);
  -moz-box-shadow: 0 3px 10px 0 rgba(236, 115, 35, 0.15);
  -o-box-shadow: 0 3px 10px 0 rgba(236, 115, 35, 0.15);
  box-shadow: 0 3px 10px 0 rgba(236, 115, 35, 0.15);
  border-bottom-color: var(--primaryColor);
}
.rvb__title {
  font-size: 18px;
  font-weight: 500;
  margin-bottom: 15px;
  color: #6c757d;
  -webkit-transition: color 0.3s ease-in-out;
  -moz-transition: color 0.3s ease-in-out;
  -o-transition: color 0.3s ease-in-out;
  transition: color 0.3s ease-in-out;
}
.rvb__img {
  padding: 1rem;
  border-radius: 50%;
  width: 100px;
  height: 100px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--light);
  margin: -70px auto 15px;
  -webkit-box-shadow: 0 3px 10px 0 rgba(0, 0, 0, 0.1);
  -moz-box-shadow: 0 3px 10px 0 rgba(0, 0, 0, 0.1);
  box-shadow: 0 3px 10px 0 rgba(0, 0, 0, 0.1);
  border-radius: 100%;
  line-height: 100px;
  -webkit-transition: background-color 0.3s ease-in-out;
  -moz-transition: background-color 0.3s ease-in-out;
  -o-transition: background-color 0.3s ease-in-out;
  transition: background-color 0.3s ease-in-out;
}
.rvb__img img {
  -webkit-transition: filter 0.3s ease-in-out;
  -moz-transition: filter 0.3s ease-in-out;
  -o-transition: filter 0.3s ease-in-out;
  transition: filter 0.3s ease-in-out;
}
.rvb__card:hover .rvb__img img {
  filter: var(--whiteFilter);
}
.rvb__card:hover .rvb__img {
  background-color: var(--primaryColor);
}

/* ===== Experience ====== */
.exp-r {
  padding-block: 3rem 2rem;
  background-color: var(--light);
}
.exp-r__swiper {
  margin-block: 3rem 2rem;
}
.exp-r__swiperPagination {
  display: none;
}
.exp-r__slide {
  cursor: pointer;
}
.exp-r__slide > * {
  user-select: none;
}
.exp-r__slideImg {
  width: 90px;
  height: 90px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 100%;
  margin-inline: auto;
  margin-bottom: 1rem;
  background-color: var(--light);
  -webkit-box-shadow: 0 3px 10px 0 rgba(0, 0, 0, 0.15);
  -moz-box-shadow: 0 3px 10px 0 rgba(0, 0, 0, 0.15);
  box-shadow: 0 3px 10px 0 rgba(0, 0, 0, 0.15);
}
.exp-r__slide h3 {
  font-size: 18px;
  font-weight: 500;
  margin-bottom: 15px;
  text-align: center;
  color: #6c757d;
}
.exp-r__quotes {
  padding-inline: 1rem;
  position: relative;
  display: grid;
}
.exp-r__quote {
  padding: 30px 1rem;
  text-align: center;
  border: 1px solid var(--primaryColor);
  border-radius: 10px;
  width: calc(100% - 2rem);
  margin-inline: auto;
  -webkit-transition: opacity 0.3s ease-in-out, visibility 0.3s ease-in-out;
  -moz-transition: opacity 0.3s ease-in-out, visibility 0.3s ease-in-out;
  -o-transition: opacity 0.3s ease-in-out, visibility 0.3s ease-in-out;
  transition: opacity 0.3s ease-in-out, visibility 0.3s ease-in-out;
  grid-column: 1;
  grid-row: 1;
  visibility: hidden;
  opacity: 0;
  height: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.exp-r__quote-active {
  visibility: visible;
  opacity: 1;
}
.exp-r__quoteTitle {
  font-size: 25px;
  margin-bottom: 15px;
  color: var(--primaryColor);
  font-weight: 400;
}
.writerEffect {
  padding-block: unset;
  background-color: transparent;
  margin-top: -25px;
  padding-inline: 1rem;
  background-color: var(--light);
}
.getInTouch {
  position: unset;
  transform: unset;
  width: 100%;
  transform: translateY(50%);
}
/* ===== tools ======= */
.tools {
  padding: 6rem 1rem 3rem;
  background-color: var(--lighterGray);
}
.tools__cards {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: center;
  margin-top: 3rem;
}
.tools__card {
  width: 100%;
  padding-inline: 1rem;
  margin-bottom: 30px;
}
.tools__cardImg {
  background-color: var(--light);
  max-width: 350px;
  width: 100%;
  margin: 0 auto;
  min-height: 210px;
  display: flex;
  align-items: center;
  justify-content: center;
  max-width: 350px;
  width: 100%;
  margin: 0 auto;
  -webkit-box-shadow: 0 3px 10px 0 rgba(0, 0, 0, 0.15);
  -moz-box-shadow: 0 3px 10px 0 rgba(0, 0, 0, 0.15);
  -o-box-shadow: 0 3px 10px 0 rgba(0, 0, 0, 0.15);
  box-shadow: 0 3px 10px 0 rgba(0, 0, 0, 0.15);
  border-radius: 10px;
  padding: 10px 20px;
}
/* ======= Type Of Services ========= */
.tos {
  padding: 3rem 1rem;
  background-color: var(--light);
}
.tos__services {
  display: grid;
  margin-top: 50px;
}
.tos__service {
  display: flex;
  align-items: center;
  flex-direction: column;
  grid-column: 1;
  grid-row: 1;
  visibility: hidden;
  opacity: 0;
  -webkit-transition: visibility 0.3s ease-in-out, opacity 0.3s ease-in-out;
  -moz-transition: visibility 0.3s ease-in-out, opacity 0.3s ease-in-out;
  -o-transition: visibility 0.3s ease-in-out, opacity 0.3s ease-in-out;
  transition: visibility 0.3s ease-in-out, opacity 0.3s ease-in-out;
}
.tos__service-active {
  visibility: visible;
  opacity: 1;
}
.tos__content {
  margin-top: 30px;
  text-align: center;
}
.tos__title {
  font-size: 20px;
  font-weight: 600;
  margin: 30px 0 20px;
  color: #6c757d;
}
.tos__img img {
  -webkit-box-shadow: 0 3px 10px 0 rgba(0, 0, 0, 0.15);
  -moz-box-shadow: 0 3px 10px 0 rgba(0, 0, 0, 0.15);
  box-shadow: 0 3px 10px 0 rgba(0, 0, 0, 0.15);
  border-radius: 10px;
}
.tos__icon img {
  width: 74px;
  height: 74px;
  filter: var(--primaryFilter);
  margin-inline: auto;
  display: flex;
  align-items: center;
}
.tos__desc {
  line-height: 22px;
}
@media (min-width: 992px) {
  .tos__service {
    flex-direction: row;
    justify-content: space-between;
  }
  .tos__content {
    width: 49%;
    margin: unset;
    text-align: unset;
  }
  .tos__title {
    /* margin: unset; */
    margin-top: 20px;
    font-size: 24px;
  }
  .tos__icon img {
    margin: unset;
  }
  .tos__img {
    order: 1;
    width: 49%;
  }
}
.tos__swiper {
  margin-top: 5rem;
  padding-inline: 0.5rem;
  padding-block: 1rem;
}
.tos__slide {
  width: 165px;
  height: 165px;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  background-color: var(--light);
  border: 1px solid #ecedee;
  border-radius: 10px;
  padding: 15px 15px;
  -webkit-transition: box-shadow 0.3s ease-in-out;
  -moz-transition: box-shadow 0.3s ease-in-out;
  -o-transition: box-shadow 0.3s ease-in-out;
  transition: box-shadow 0.3s ease-in-out;
  cursor: pointer;
}
.tos__slide.swiper-slide-active {
  box-shadow: 0 3px 10px rgba(0, 0, 0, 0.15);
}
.tos__slideImg {
  display: flex;
  align-items: center;
  justify-content: center;
}
.tos__slideImg img {
  filter: invert(48%) sepia(3%) saturate(1281%) hue-rotate(167deg)
    brightness(92%) contrast(80%);
}
.tos__slide.swiper-slide-active .tos__slideImg img {
  filter: var(--primaryFilter);
}
.tos__slide h4 {
  font-size: 16px;
  width: 100%;
  text-align: center;
  margin-top: 10px;
  font-weight: 500;
}
.tos__swiperPagination {
  display: none;
}

/* ======= WHY CHOOSE US ========= */
.wcu {
  padding: 3rem 1rem;
  background-color: var(--lighterGray);
}
.wcu__reasons {
  margin-top: 5rem;
}
.wcu__img {
  display: none;
}
.wcu__img img {
  -webkit-box-shadow: 0 3px 10px 0 rgba(0, 0, 0, 0.15);
  -moz-box-shadow: 0 3px 10px 0 rgba(0, 0, 0, 0.15);
  box-shadow: 0 3px 10px 0 rgba(0, 0, 0, 0.15);
  border-radius: 10px;
}
.wcu__reasons-cards {
  padding-inline: 1rem;
  display: flex;
  flex-direction: column;
  gap: 2rem;
}
.wcu__reasons-cards-top,
.wcu__reasons-cards-bottom {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 2rem;
}
.wcu__reason {
  text-align: center;
  padding: 20px 15px;
  color: #6c757d;
  padding: 25px 20px;
  -webkit-transition: box-shadow 0.3s ease-in-out;
  -moz-transition: box-shadow 0.3s ease-in-out;
  -o-transition: box-shadow 0.3s ease-in-out;
  transition: box-shadow 0.3s ease-in-out;
  background-color: var(--light);
  -webkit-box-shadow: 0 3px 10px 0 rgba(0, 0, 0, 0.15);
  -moz-box-shadow: 0 3px 10px 0 rgba(0, 0, 0, 0.15);
  box-shadow: 0 3px 10px 0 rgba(0, 0, 0, 0.15);
  border-radius: 10px;
  height: 100%;
  min-height: 250px;
}
.wcu__reason:hover {
  -webkit-box-shadow: 0 3px 10px 0 rgba(236, 115, 35, 0.15);
  -moz-box-shadow: 0 3px 10px 0 rgba(236, 115, 35, 0.15);
  box-shadow: 0 3px 10px 0 rgba(236, 115, 35, 0.15);
}
.wcu__icon {
  margin-bottom: 1rem;
}
.wcu__icon img {
  filter: invert(48%) sepia(3%) saturate(1281%) hue-rotate(167deg)
    brightness(92%) contrast(80%);
  transition: filter 0.15s ease 0.15s;
}
.wcu__reason:hover .wcu__icon img {
  filter: var(--primaryFilter);
}
.wcu__title {
  font-size: 18px;
  font-weight: 500;
  margin-bottom: 15px;
  line-height: 1.2;
  -webkit-transition: alcolor 0.3s ease-in-out;
  -moz-transition: color 0.3s ease-in-out;
  -o-transition: color 0.3s ease-in-out;
  transition: color 0.3s ease-in-out;
}
.wcu__reason:hover .wcu__title {
  color: var(--primaryColor);
}

.wcu__desc {
  line-height: 20px;
}
@media (min-width: 768px) {
  .wcu__reasons-cards {
    flex-direction: row;
  }
  .wcu__reason {
    min-height: 280px;
  }
  .wcu__reasons-cards-bottom {
    margin-top: 50px;
  }
  .wcu__reasons-cards-top {
    margin-bottom: 50px;
  }
}
@media (min-width: 992px) {
  .wcu__reasons {
    display: flex;
    gap: 1.5rem;
  }
  .wcu__img {
    width: calc(5 / 12 * 100%);
    display: block;
  }
  .wcu__reasons-cards {
    width: calc(7 / 12 * 100%);
  }
}
