@import url("https://fonts.googleapis.com/css2?family=Inter:wght@900&display=swap"); /* Comment this line if you don't want to use Inter */

.neonHero {
  --neonHero-bgClr: rgb(0 3 12);
  background-color: var(--neonHero-bgClr);
  min-height: 100svh;
  position: relative;
}
.neonHero__slidePlayground {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
}
.neonHero__slidePlayground :where(img, video) {
  width: 100%;
  height: 100%;
  object-fit: cover;
  position: absolute;
  top: 0;
  left: 0;
}
.neonHero__titleContainer {
  min-height: 100svh;
  display: grid;
  place-content: center;
  z-index: 3;
  position: relative;
  background-color: #0007;
}
.neonHero__title {
  font-family: "Inter", "Montserrat", sans-serif;
  text-align: center;
  font-size: 3rem;
  font-weight: 900;
  line-height: 1;
  color: transparent;
  -webkit-text-stroke: 2px white;
  -webkit-text-fill-color: transparent;
  z-index: 5;
}
.neonHero__title span {
  color: #fff;
  -webkit-text-fill-color: #fff;
}
@media (min-width: 768px) {
  .neonHero__title {
    font-size: 4.5rem;
  }
}
.neonHero__titleContent {
  width: min(100%, 60rem);
  margin-inline: auto;
  text-align: center;
}
.neonHero__text {
  color: #fff;
  font-size: 1rem;
  text-align: center;
  padding: 1rem 0;
  white-space: balance;
}
@media (min-width: 768px) {
  .neonHero__text {
    font-size: 1.5rem;
  }
}

.neonHero__apps {
  position: absolute;
  top: 50%;
  height: 100svh;
  width: 100%;
  overflow: hidden;
  display: grid;
  align-items: center;
  pointer-events: none;
}
.neonHero__apps--slider {
  animation: slide-to-left 90s linear infinite;
}
@keyframes slide-to-left {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(calc(-100% + 100svw));
  }
}
.neonHero__apps--wrapper {
  display: flex;
}
.neonHero__apps--imgContainer {
  width: 250px;
  padding-inline: 0.75rem;
  position: relative;
}
.neonHero__apps--title {
  position: absolute;
  bottom: calc(100% + 0.5rem);
  left: 0;
  width: 100%;
  color: white;
  font-size: 1.5rem;
  text-align: center;
  white-space: balance;
}
