.hero {
  text-align: center;
}
.hero::before {
  /* display: none; */
  background-image: unset;
  background-color: rgba(32, 33, 34, 0.9);
}
.hero__title {
  font-size: 26px;
}

.hero__navigation {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
}
.hero__link {
  text-transform: capitalize;
  background-color: var(--primaryColor);
  border: 1px solid transparent;
  -webkit-transition: border-color 0.3s ease-in-out,
    background-color 0.3s ease-in-out;
  -moz-transition: border-color 0.3s ease-in-out,
    background-color 0.3s ease-in-out;
  -o-transition: border-color 0.3s ease-in-out,
    background-color 0.3s ease-in-out;
  transition: border-color 0.3s ease-in-out, background-color 0.3s ease-in-out;
}
.hero__link:hover {
  background-color: transparent;
  border-color: var(--light);
}
.hero__breadcrumb {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  font-size: 10px;
  position: absolute;
  margin-inline: auto;
  z-index: 2;
  width: 100%;
  max-width: 1170px;
  bottom: 70px;
  left: 50%;
  transform: translateX(-50%);
}
@media (max-width: 1200px) {
  .hero__breadcrumb {
    padding-inline: 1rem;
  }
}
.hero__breadcrumbItem a {
  color: var(--light);
  font-size: 10px;
  -webkit-transition: color 0.3s ease-in-out;
  -moz-transition: color 0.3s ease-in-out;
  -o-transition: color 0.3s ease-in-out;
  transition: color 0.3s ease-in-out;
}
.hero__breadcrumbItem a:hover {
  color: var(--primaryColor);
}
.hero__breadcrumbItem {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.5rem;
  color: var(--primaryColor);
}
.hero__breadcrumbSlash {
  color: var(--light);
}
/* ============================= */

.pp {
  /* background-color: red; */
  position: relative;
}
.pp__options {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  position: relative;
  z-index: 2;
  background-color: var(--light);
  box-shadow: 0 0 10px 0 rgba(32, 33, 34, 0.2);
  margin-top: -47.5px;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
}
.pp__option {
  width: 20%;
}
.pp__option button {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 0.5rem;
  width: 100%;
  height: 100%;
  padding: 1rem;
  border: none;
  background-color: transparent;
  cursor: pointer;
  border-right: 1px solid #dddfe1;
  -webkit-transition: background-color 0.25s ease-in-out, color 0.25s ease-in-out, border-color 0.25s ease-in-out;
  -moz-transition: background-color 0.25s ease-in-out, color 0.25s ease-in-out, border-color 0.25s ease-in-out;
  -o-transition: background-color 0.25s ease-in-out, color 0.25s ease-in-out, border-color 0.25s ease-in-out;
  transition: background-color 0.25s ease-in-out, color 0.25s ease-in-out, border-color 0.25s ease-in-out;
}
.pp__option button > * {
  pointer-events: none;
  user-select: none;
}
.pp__option button.active {
  background-color: var(--primaryColor);
  color: var(--light);
  border-color: var(--primaryColor);
}
.pp__option button.active img {
  filter: var(--whiteFilter);
}
.pp__section {
  background-position: center center;
  background-size: cover;
  background-repeat: no-repeat;
  width: 100%;
  min-height: 100vh;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  /* padding-block: 65px; */
}
.pp__section::before {
  content: "";
  display: block;
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
}
.pp__sectionContainer {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding: 1rem;
  width: 100%;
  text-align: center;
  color: var(--light);
  gap: 3rem;
}
.pp__sectionSummary {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}
.pp__sectionLogo {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: start;
  gap: 1rem;
}

.pp__sectionTitle {
  font-size: 20px;
  font-weight: 400;
}
.pp__sectionTitleTop,
.pp__sectionTitleDesc {
  display: block;
  line-height: 1.3;
  font-weight: 500;
}
.pp__sectionTitleTop {
  font-size: 22px;
}
.pp__sectionTitleDesc {
  font-size: 16px;
}
.pp__sectionList {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1rem;
  position: relative;
}
.pp__sectionListItem:nth-of-type(1) {
  position: relative;
  padding-right: 1rem;
}
.pp__sectionListItem:nth-of-type(1)::before {
  content: "";
  position: absolute;
  right: 0;
  top: 0;
  background-color: var(--light);
  width: 1px;
  height: 100%;
}
.pp__sectionDesc {
  color: var(--light);
}
.pp__sectionLink {
  margin-inline: 0.5rem;
}
.pp__viewWebsite {
  background-color: var(--light);
  color: var(--secondaryColor);
  padding: 0.75rem 2rem;
  border-radius: 10px;
  font-weight: 500;
  width: fit-content;
  margin-inline: auto;
  margin-top: 1rem;
  -webkit-transition: background-color 0.3s ease-in-out, color 0.3s ease-in-out,
    box-shadow 0.3s ease-in-out;
  -moz-transition: background-color 0.3s ease-in-out, color 0.3s ease-in-out,
    box-shadow 0.3s ease-in-out;
  -o-transition: background-color 0.3s ease-in-out, color 0.3s ease-in-out,
    box-shadow 0.3s ease-in-out;
  transition: background-color 0.3s ease-in-out, color 0.3s ease-in-out,
    box-shadow 0.3s ease-in-out;
}
.pp__viewWebsite:hover {
  background-color: var(--lightDark);
  color: var(--light);
  box-shadow: 0 5px 11px 0 rgba(0, 0, 0, 0.18), 0 4px 15px 0 rgba(0, 0, 0, 0.15);
}
.pp__microsoft {
  background-image: url("../../../assets/Portfolio_page_assets/Microsoft/microsoft-art-of-work-bg.webp");
}
.pp__microsoft::before {
  background: rgba(41, 127, 221, 0.85);
}
.pp__microsoftLogo {
  display: unset;
  text-align: unset;
}
.pp__formAssist {
  background-image: url("../../../assets/Portfolio_page_assets/FormAssist/form-assist-background.webp");
}
.pp__formAssist::before {
  background-color: rgba(0, 116, 91, 0.9);
}
.pp__SNLyft {
  background-image: url("../../../assets/Portfolio_page_assets/SNLyft/sn-lyft-bg.webp");
}
.pp__SNLyft::before {
  background-color: rgba(0, 21, 49, 0.9);
}
.pp__UKEats {
  background-image: url("../../../assets/Portfolio_page_assets/UKEats/uk-eats-bg.webp");
}
.pp__UKEats::before {
  background-color: rgba(55, 0, 1, 0.9);
}
.pp__OliveGarden {
  background-image: url("../../../assets/Portfolio_page_assets/OliveGarden/olive-garden-bg.webp");
}
.pp__OliveGarden::before {
  background-color: rgba(0, 14, 3, 0.9);
}
.pp__MFM {
  background-image: url("../../../assets/Portfolio_page_assets/MFM/mfm-bg.webp");
}
.pp__MFM::before {
  background-color: rgba(20, 20, 20, 0.9);
}
.pp__CluedApp {
  background-image: url("../../../assets/Portfolio_page_assets/CluedApp/clued-app-bg1.webp");
}
.pp__CluedApp::before {
  background-color: rgba(125, 0, 61, 0.9);
}
.pp__Handley {
  background-image: url("../../../assets/Portfolio_page_assets/Handley/handley-bg.webp");
}
.pp__Handley::before {
  background-color: rgba(0, 73, 88, 0.9);
}
.pp__Kloe {
  background-image: url("../../../assets/Portfolio_page_assets/Kloe/kloe-mobile-bg.webp");
}
.pp__Kloe::before {
  background-color: rgba(3, 3, 3, 0.9);
}
.pp__Claireabella {
  background-image: url("../../../assets/Portfolio_page_assets/Claireabella/claireabella-bg.webp");
}
.pp__Claireabella::before {
  background-color: rgba(125, 0, 61, 0.9);
}
.pp__PayPark {
  background-image: url("../../../assets/Portfolio_page_assets/PayPark/pay-park-bg.webp");
}
.pp__PayPark::before {
  background-color: rgba(13, 48, 51, 0.9);
}
.pp_LabelXChange {
  background-image: url("../../../assets/Portfolio_page_assets/LabelXChange/LabelXChange-bg.webp");
}
.pp_LabelXChange::before {
  background-color: rgba(3, 3, 3, 0.96);
}
.pp__Fantasyji {
  background-image: url("../../../assets/Portfolio_page_assets/FantasyJi/fantasyji-bg.webp");
}
.pp__Fantasyji::before {
  background-color: rgba(18, 46, 79, 0.9);
}
.pp__MyLivin {
  background-image: url("../../../assets/Portfolio_page_assets/MyLivin/my-livin-bg.webp");
}
.pp__MyLivin::before {
  background-color: rgba(177, 0, 105, 0.9);
}
.pp__Flanter {
  background-image: url("../../../assets/Portfolio_page_assets/Flanter/flanter-bg.webp");
}
.pp__Flanter::before {
  background-color: rgba(0, 139, 105, 0.9);
}
.pp__Appai {
  background-image: url("../../../assets/Portfolio_page_assets/Appai/appai-bg.webp");
}
.pp__Appai::before {
  background-color: rgba(122, 78, 35, 0.9);
}
.pp__Adani {
  background-image: url("../../../assets/Portfolio_page_assets/Adani/adani-bg.webp");
}
.pp__Adani::before {
  background-color: rgba(0, 109, 159, 0.9);
}
.pp__Yoca {
  background-image: url("../../../assets/Portfolio_page_assets/Yoca/yoca-bg.webp");
}
.pp__Yoca::before {
  background-color: rgba(38, 162, 127, 0.85);
}
.pp__Squishy {
  background-image: url("../../../assets/Portfolio_page_assets/Squishy/squshy-bg.webp");
}
.pp__Squishy::before {
  background-color: rgba(0, 84, 144, 0.97);
}
.getInTouch {
  position: unset;
  transform: unset;
}
/* VALUES SECTION  END*/
.grid {
  background-color: rgba(32, 33, 34, 1);
  overflow: hidden;
}
.grid .container-1170px {
  max-width: 1300px;
}
.pp__mobileImg {
  opacity: 0;
}
.pp__sectionImg:not(.pp__sectionImgMobile) {
  transition: all 0.5s ease-in-out;
  opacity: 0;
  position: absolute;
}

.portfolio-preview-thumb-main {
  position: relative;
}
.portfolio-preview-thumb-sep,
.portfolio-preview-thumb-sep-opt2 {
  position: absolute;
  bottom: 0;
  display: none;
}
.portfolio-preview-thumb-sep-opt2.one {
  right: inherit;
  left: 0;
  width: 56.5%;
  z-index: 1;
  -webkit-transform: scale(1) translateX(0);
  -moz-transform: scale(1) translateX(0);
  -o-transform: scale(1) translateX(0);
  -ms-transform: scale(1) translateX(0);
  transform: scale(1) translateX(0);
  -webkit-transition: all 0.5s ease-in-out;
  -moz-transition: all 0.5s ease-in-out;
  -o-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
}
.portfolio-preview-thumb-sep-opt2.one:hover {
  -webkit-transform: scale(1) translateX(-30px);
  -moz-transform: scale(1) translateX(-30px);
  -o-transform: scale(1) translateX(-30px);
  -ms-transform: scale(1) translateX(-30px);
  transform: scale(1) translateX(-30px);
  z-index: 3;
}
.portfolio-preview-thumb-sep.one {
  right: 0;
  width: 56.5%;
  z-index: 1;
  -webkit-transform: scale(1) translateX(0);
  -moz-transform: scale(1) translateX(0);
  -o-transform: scale(1) translateX(0);
  -ms-transform: scale(1) translateX(0);
  transform: scale(1) translateX(0);
  -webkit-transition: all 0.5s ease-in-out;
  -moz-transition: all 0.5s ease-in-out;
  -o-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
}
.portfolio-preview-thumb-sep.one:hover {
  -webkit-transform: scale(1.15) translateX(40px);
  -moz-transform: scale(1.15) translateX(40px);
  -o-transform: scale(1.15) translateX(40px);
  -ms-transform: scale(1.15) translateX(40px);
  transform: scale(1.15) translateX(40px);
  z-index: 3;
}
.portfolio-preview-thumb-sep-opt2.two {
  right: 0;
  left: inherit;
  width: 68%;
  z-index: 2;
  -webkit-transform: scale(1) translateX(0);
  -moz-transform: scale(1) translateX(0);
  -o-transform: scale(1) translateX(0);
  -ms-transform: scale(1) translateX(0);
  transform: scale(1) translateX(0);
  -webkit-transition: all 0.5s ease-in-out;
  -moz-transition: all 0.5s ease-in-out;
  -o-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
}
.portfolio-preview-thumb-sep-opt2.one:hover + .two {
  -webkit-transform: scale(1) translateX(30px);
  -moz-transform: scale(1) translateX(30px);
  -o-transform: scale(1) translateX(30px);
  -ms-transform: scale(1) translateX(30px);
  transform: scale(1) translateX(30px);
}
.portfolio-preview-thumb-sep.two {
  left: 0;
  width: 66%;
  z-index: 2;
  -webkit-transform: scale(1) translateX(0);
  -moz-transform: scale(1) translateX(0);
  -o-transform: scale(1) translateX(0);
  -ms-transform: scale(1) translateX(0);
  transform: scale(1) translateX(0);
  -webkit-transition: all 0.5s ease-in-out;
  -moz-transition: all 0.5s ease-in-out;
  -o-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
}
.portfolio-preview-thumb-sep.one:hover + .two {
  -webkit-transform: scale(0.87) translateX(-30px);
  -moz-transform: scale(0.87) translateX(-30px);
  -o-transform: scale(0.87) translateX(-30px);
  -ms-transform: scale(0.87) translateX(-30px);
  transform: scale(0.87) translateX(-30px);
  -webkit-transition: all 0.5s ease-in-out;
  -moz-transition: all 0.5s ease-in-out;
  -o-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
}
.landscapescreen .portfolio-preview-thumb-sep.one {
  right: 0;
  width: 75%;
  z-index: 1;
  -webkit-transform: scale(1) translateX(0);
  -moz-transform: scale(1) translateX(0);
  -o-transform: scale(1) translateX(0);
  -ms-transform: scale(1) translateX(0);
  transform: scale(1) translateX(0);
  -webkit-transition: all 0.5s ease-in-out;
  -moz-transition: all 0.5s ease-in-out;
  -o-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
}
.landscapescreen .portfolio-preview-thumb-sep.one:hover {
  -webkit-transform: scale(1.15) translateX(-40px);
  -moz-transform: scale(1.15) translateX(-40px);
  -o-transform: scale(1.15) translateX(-40px);
  -ms-transform: scale(1.15) translateX(-40px);
  transform: scale(1.15) translateX(-40px);
  z-index: 3;
}
.landscapescreen .portfolio-preview-thumb-sep.two {
  left: 0;
  width: 81%;
  top: 0;
  bottom: inherit;
  z-index: 2;
  -webkit-transform: scale(1) translateX(0);
  -moz-transform: scale(1) translateX(0);
  -o-transform: scale(1) translateX(0);
  -ms-transform: scale(1) translateX(0);
  transform: scale(1) translateX(0);
  -webkit-transition: all 0.5s ease-in-out;
  -moz-transition: all 0.5s ease-in-out;
  -o-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
}
.landscapescreen .portfolio-preview-thumb-sep.one:hover + .two {
  -webkit-transform: scale(0.9) translateX(0);
  -moz-transform: scale(0.9) translateX(0);
  -o-transform: scale(0.9) translateX(0);
  -ms-transform: scale(0.9) translateX(0);
  transform: scale(0.9) translateX(0);
  -webkit-transition: all 0.5s ease-in-out;
  -moz-transition: all 0.5s ease-in-out;
  -o-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
}
